#Customizer {
    position: relative;
    display: grid;
    grid-template-rows: minmax(60px, 4em) 80vh 1fr;
    background-color: hsl(120, 10%, 10%);
    color: hsl(120, 10%, 95%);
    /* scroll-behavior: auto; */
}

#themeselectionfloat {
    display: inline-grid;
    max-width: 100%;
    background-color: hsl(120, 10%, 10%);
    color: hsl(var(--hueTextLight), 10%, 95%);
    /* grid-template-columns: 10px 5fr 10px; */
    /* grid-template-rows: 2em 1fr 5fr; */
    padding: 5px;
    /* scroll-behavior: auto; */
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: 0px;
}

.slidecontainer {
    display: inline-grid;
    /* grid-column: 1/5; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* mawidth: 25px; */
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slidecontainer {
    position: relative;
}

.showCustomizer {
    cursor: pointer;
    position: relative;
}

.showCustomizer:before {
    font-size: .8em;
    display: none;
    top: 100%;
}

.showCustomizer:hover::before {
    content: "Color Theme";
    text-transform: capitalize;
    font-size: .8em;
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #323232;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    display: block;

}