#Customizer {
    background-color: hsl(120, 10%, 10%);
    color: hsl(120, 10%, 95%);
}

#themeselectionfloat {
    position: static;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    background-color: hsl(120, 10%, 10%);
    color: hsl(120, 10%, 95%);
    grid-template-columns: 10px 1fr 1fr 1fr 10px;
    padding: 10%;
    scroll-behavior: auto;
    position: sticky;
    top: 0px;
}

.slidecontainer {
    display: inline-grid;
    grid-column: 1/5;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}