#customizer {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 1fr;
    position: relative;
    background-color: hsl(120, 10%, 10%);
    color: hsl(120, 10%, 95%);
    /* scroll-behavior: auto; */
    padding: 10px;
    z-index: 2;
    /* height: 100vh; */
    min-width: 350px;
    font-size: 16px;
    max-width: 90%;
}

#customizer>.sticky>h2 {
    padding: 0px;
    margin: 0px;
    position: sticky;
    bottom: 0px;
}

#customizer>.sticky {
    position: sticky;
    top: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 80vh auto 1fr;
}


#themeselectionfloat {
    display: inline-grid;
    display: grid;
    background-color: hsl(120, 10%, 10%);
    color: hsl(var(--hueTextLight), 10%, 95%);
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto auto 1fr;
    overflow-y: auto;

}



.slidecontainer {
    grid-column: 2/3;
    display: grid;
    padding: 10px;
}

*/ .slidecontainer p {
    font-size: 24px;
}

.slidecontainer>p>span {
    max-width: 80%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* mawidth: 25px; */
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}


.showCustomizer {
    cursor: pointer;
    position: relative;
}

.showCustomizer:before {
    font-size: .8em;
    display: none;
    top: 100%;
}

.showCustomizer:hover::before {
    content: "Color Theme";
    text-transform: capitalize;
    font-size: .8em;
    position: absolute;
    top: 170%;
    /* left: 0; */
    /* right: 0; */
    opacity: 0.75;
    background-color: #323232;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    display: block;
    width: 6em;

}

.showColorTheme {
    padding-inline: 2em;

}

#themeConfig {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, auto));
    grid-gap: 10px;
}

#themeConfig>.button {
    padding: 5px;
    margin: 0px;
    max-width: minmax(50px, 200px);
    font-size: 12px;
}

.vspace {
    display: block;
    padding-block: 12px;
    content: ""
}

.vspace:after {
    display: block;
    padding-block: 12px;
    content: ""
}