/* Default Tags */

h1 {
    font-family: var(--font-h1);
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
}

h2 {

    font-family: var(--font-h2);
    margin-bottom: 1em;
    font-size: 2rem;
}

h3 {
    margin-bottom: 1em;
    font-family: var(--font-h3);
}

h4 {
    margin-bottom: 1em;

    font-family: var(--font-h4);
}

h5 {
    margin-bottom: 1em;

    font-family: var(--font-h5);
    font-family: "Dancing Script", "Verdana", "Arial";
}

h6 {

    font-family: var(--font-h6);
    margin-bottom: 1em;
    font-family: "Dancing Script", "Verdana", "Arial";
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
}


body {
    width: 100%;
    background: hsl(var(--hue), 100%, 100%);
    overflow-x: hidden;
}

a {
    color: var(--color-link);
}

/* TABLE */

table {
    border-radius: .2em;
    -webkit-box-shadow: 1px 1px 3px hsla(0, 0%, 60%, 0.87);
    box-shadow: 1px 1px 3px #999;
    max-width: 100%;
    margin-block: 1em;
}

thead {
    font-size: large;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.7);
}

tr,
td {
    padding-inline: .4em;
    padding-block: .2em;
}

tr:nth-child(odd) {
    background: rgba(1, 1, 1, 0.5);
}

tr:nth-child(even) {
    background: rgba(236, 236, 236, 0.05);
}

table>caption,
.tablecaption {
    text-transform: capitalize;
}

.tablecaption::before {
    content: "Table: "
}


ol {
    list-style: none;
    counter-reset: item;
}

ol li {
    counter-increment: item;
    margin-bottom: 5px;
}

ol li:before {
    font-size: small;
    margin-right: 10px;
    content: counter(item);
    background: cyan;
    border-radius: 100%;
    color: #222222;
    padding: .1em;
    margin: .5wdem;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

svg {
    width: 100px;
    height: 100px;
}

/* BUTTON */

button {
    border: 0px;
}

.button {
    position: relative;
    font-weight: 500;
    display: inline-block;
    outline: 0.2em solid #05eeff;
    padding: .5em;
    /* background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #0af7ff), color-stop(80%, #75faff), to(#0af7ff)) no-repeat scroll 0; */
    background: linear-gradient(0deg, #0af7ff 10%, #75faff 80%, #0af7ff 100%) no-repeat scroll 0;
    color: #0b4c65;
    text-align: center;
    text-shadow: none;
    margin: 2em;
    margin-left: 0;
    text-transform: capitalize;
    border-radius: .01em;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
}

button:hover,
.button:hover {
    outline: 0.1em solid #05eeff;
    -webkit-box-shadow: 0px 0px 0.5em #05eeff;
    box-shadow: 0px 0px 0.5em #05eeff;
}

.button-blank {
    position: relative;
    font-weight: 500;
    display: inline-block;
    outline: 0.2em solid #05eeff;
    padding: .5em;
    background: rgba(1, 1, 1, 0.1);
    color: #05eeff;
    text-align: center;
    text-shadow: none;
    margin: 2em;
    margin-left: 0;
    text-transform: capitalize;
    border-radius: .01em;
}

.button-blank:hover {
    outline: 0.1em solid #05eeff;
    -webkit-box-shadow: 0px 0px 0.5em #05eeff;
    box-shadow: 0px 0px 0.5em #05eeff;
}

/* VIDEO */

video {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 2px white;
    margin-bottom: 10%;
}

input,
.input {
    margin: 2px;
    width: 100%;
    background: #BBC;
}